.JobTabContainer{
    height: 100vh;
}
.jobCardDataContainer{
    height: 100vh;
    display: flex;
   align-items: flex-start;
   padding: 30px;
   justify-content: space-between;
   font-family: sans-serif;
}
.JobTaskCard{
    display: flex;
    justify-content: space-between;
    width: 38%;
    ;
}
.jobHeading{
    color: orange;
    font-size: 11px;
}
.jobSolWriting_head{
    background-color: rgb(230, 241, 241);
    padding:10px;
    font-size: 12px;
    font-weight: 600;
    width: 120%;
}
.jobApplication_head{
    color: orange;
    font-size: 11px;
}
.jobScreenTask_head{
    background-color: rgb(114, 117, 117);
    padding:10px;
    font-size: 11px;
    font-weight: 600;
    width: 120%;
}
.AppliStatus_head{
    color: orange;
    font-size: 10px;
}
.JobStatus_head{
    background-color: rgb(230, 241, 241);
    padding:10px;
    font-size: 10px;
    font-weight: 700;
    width: 120%;
}
.jobSolutionBookCard{
    /* border: 1px solid yellow; */
    background-color: transparent;
    box-shadow:2px 2px 10px rgb(220, 209, 57);
    width: 40%;
    height:16vh;
    border-radius: 5px;
    padding:10px;
}
.maths_heading{
    font-size: 10px;
    font-weight: 500;
}.mathsNote_heading{
    font-size: 10px;
    color: rgb(60, 61, 62);
}
.JobAnnouncementCard{
    width: 20%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}
.JobAnnouncementHeading{
    margin: 0px;
    align-self: center;
    font-weight: 700;

}
.jobNote{
    margin-top: 3px;
    font-size: 13px;
    padding:10px;
    background-color: rgb(185, 238, 246);
}
@media (max-width:480px){
    .JobTaskCard{
        width: 60%;
    }
.jobHeading{
    font-size:5px;
}
.jobSolWriting_head{
    font-size: 4px;
    /* width: 70%; */
}
.jobApplication_head{
    font-size: 5px;
    width: 70%;
}
.jobScreenTask_head{
    font-size: 5px;
}
.AppliStatus_head{
    font-size: 5px;
    /* width: 50%; */
}
.JobStatus_head{
    font-size: 5px;

}
.jobSolutionBookCard{
    height: 30%;
    width: 30%;
}
.maths_heading{
    font-size: 5px;
}
.mathsNote_heading{
    font-size: 5px;
}
.JobAnnouncementCard{
width: 30%;
}
.JobAnnouncementHeading{
    font-size: 5px;
}
.JobGrAnnounce{
    height: 8px;
}
.jobNote{
    font-size: 5px;
}
}


@media (min-width:760px){
.JobTaskCard{
    width: 45%;
    /* border: 1px solid red; */
    justify-content: space-between;
}
.jobHeading{
    font-size:15px;
}
.jobSolWriting_head{
    font-size: 14px;
    /* width: 70%; */
}
.jobApplication_head{
    font-size: 13px;
    width: 70%;
}
.jobScreenTask_head{
    font-size: 13px;
}
.AppliStatus_head{
    font-size: 15px;
    /* width: 50%; */
}
.JobStatus_head{
    font-size: 15px;

}
.jobSolutionBookCard{
    height: 30%;
    width: 30%;
}
.maths_heading{
    font-size: 15px;
}
.mathsNote_heading{
    font-size: 14px;
}
.JobAnnouncementCard{
width: 30%;
}
.JobAnnouncementHeading{
    font-size: 16px;
}
.JobGrAnnounce{
    height: 16px;
}
.jobNote{
    font-size: 13px;
}
}

